@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #111111;
  font-size: 20px;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
}

body {
  background-color: #f4f4f3;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.baus-headline {
  border-top: 8px solid #1e2e53;
  padding-top: 57px;
  position: relative;
}

.baus-headline:before {
  border-top: 8px solid #ac873d;
  content: "";
  display: block;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -8px;
  width: 451px;
}

.baus-headline:after {
  bottom: 0;
  content: "お知らせ";
  color: #ac873d;
  display: block;
  font-size: 18px;
  position: absolute;
  right: 0;
}

.baus-headline.plat:after {
  content: "プラットフォームについて";
}

.baus-headline.team:after {
  content: "運営について";
}

.baus-headline.official:after {
  content: "支援団体";
}

.baus-container {
  margin: 0 auto;
  width: 1200px;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

.container .mainvisual {
  background: transparent url("../img/movie_pc.png") no-repeat center top;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.container .mainvisual__container {
  font-weight: bold;
  padding: 244px 0 80px 0;
  position: relative;
  text-align: center;
}

.container .mainvisual__container:after {
  background: transparent url(../img/scroll.png) no-repeat center center;
  background-size: 100% auto;
  bottom: 20px;
  content: "";
  display: block;
  height: 26px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.container .mainvisual__container__logo {
  display: inline-block;
}

.container .mainvisual__container p {
  margin-top: 48px;
}

.container .mainvisual__container__btn {
  background-color: #000;
  color: #fff;
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 154px auto 0 auto;
  width: 270px;
}

.container .about {
  background-color: #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 80px 0 74px 0;
}

.container .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .about__container__left p {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.12px;
  line-height: 2;
  margin-top: 32px;
}

.container .about__container__right {
  margin-left: 270px;
}

.container .about__container__right h3 {
  font-size: 24px;
  font-weight: bold;
}

.container .about__container__right p {
  font-size: 15px;
  line-height: 1.8;
  margin-top: 32px;
}

.container .registration {
  background-color: #111111;
  padding: 73px 0 78px 0;
  text-align: center;
}

.container .registration h2 {
  display: inline-block;
}

.container .registration p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 28px;
}

.container .registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 32px;
}

.container .registration__form__mail {
  border: none;
  display: block;
  letter-spacing: 0.1px;
  padding: 23px 0 23px 31px;
  width: 930px;
}

.container .registration__form input::-webkit-input-placeholder {
  color: #111111;
}

.container .registration__form input:-ms-input-placeholder {
  color: #111111;
}

.container .registration__form input::-ms-input-placeholder {
  color: #111111;
}

.container .registration__form input::placeholder {
  color: #111111;
}

.container .registration__form__submit {
  background: #b34f36 url(../img/icon_register.png) no-repeat right 17px center;
  border: none;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 270px;
}

.container .news {
  padding-top: 50px;
}

.container .news__container__list {
  margin-top: 61px;
}

.container .news__container__list__item {
  background-color: #fff;
}

.container .news__container__list__item:not(:first-child) {
  border-top: 1px solid #f4f4f4;
}

.container .news__container__list__item a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.container .news__container__list__item a:hover {
  background-color: #f4f4f4;
}

.container .news__container__list__item a:after {
  background: transparent;
  border-right: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  content: "";
  display: block;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
}

.container .news__container__list__item a figure {
  display: inline-block;
  margin-right: 44px;
}

.container .news__container__list__item__desc__date {
  color: #ac873d;
  font-size: 11px;
}

.container .news__container__list__item__desc__text {
  font-size: 15px;
  line-height: 1.8;
  margin-top: 20px;
}

.container .platform {
  margin-top: 74px;
}

.container .platform p {
  font-size: 15px;
  line-height: 1.8;
  margin-top: 59px;
}

.container .platform__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

.container .platform__container__usertype {
  background-color: #fff;
  height: 618px;
  padding-top: 97px;
  text-align: center;
  width: 270px;
}

.container .platform__container__usertype h3 {
  color: #ac873d;
  font-size: 14px;
  font-weight: bold;
}

.container .platform__container__usertype figure {
  margin-top: 40px;
}

.container .platform__container__usertype figure figcaption {
  color: #929292;
  font-size: 11px;
  font-weight: bold;
}

.container .platform__container__usertype figure + figure {
  margin-top: 54px;
}

.container .platform__container__list {
  background-color: #fff;
  height: 618px;
  margin-left: 41px;
  width: 890px;
}

.container .platform__container__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 46px 40px 40px;
}

.container .platform__container__list__item:not(:first-child) {
  border-top: 1px solid #f4f4f4;
}

.container .platform__container__list__item__headline {
  background: transparent url(../img/illust_creator_unit.png) no-repeat top right;
  background-size: 127px 71px;
  padding-top: 17px;
  position: relative;
  width: 383px;
}

.container .platform__container__list__item__headline h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .platform__container__list__item__headline h4 span {
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  right: 139px;
}

.container .platform__container__list__item__headline p {
  background-color: #ededed;
  font-size: 12px;
  margin-top: 42px;
  padding: 14px 17px;
  position: relative;
}

.container .platform__container__list__item__headline p:after {
  background-color: #ededed;
  content: "";
  display: block;
  height: 12px;
  left: 17px;
  position: absolute;
  top: -6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
}

.container .platform__container__list__item__desc {
  font-size: 14px;
  margin-left: 17px;
  width: 430px;
}

.container .platform__container__list__item__desc h5 {
  color: #ac873d;
  font-weight: bold;
  margin-bottom: 20px;
}

.container .platform__container__list__item__desc p {
  line-height: 1.7;
  margin: 0;
}

.container .platform__contact {
  background: #111111 url(../img/icon_mail.png) no-repeat right 20px center;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin: 40px auto 0;
  text-align: center;
  width: 580px;
}

.container .bausteam {
  margin-top: 80px;
}

.container .bausteam p {
  font-size: 15px;
  line-height: 1.8;
  margin-top: 60px;
}

.container .bausteam__list {
  margin-top: 42px;
}

.container .bausteam__list__item {
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.container .bausteam__list__item:not(:first-child) {
  margin-top: 40px;
}

.container .bausteam__list__item figure img {
  height: auto;
  width: 230px;
}

.container .bausteam__list__item__desc {
  margin-left: 40px;
}

.container .bausteam__list__item__desc span {
  color: #ac873d;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container .bausteam__list__item__desc h3 {
  font-size: 22px;
  font-weight: bold;
}

.container .bausteam__list__item__desc p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 23px;
}

.container .bausteam__list__item__desc p a {
  color: #929292;
  text-decoration: underline;
}

.container .officialpartner {
  margin-top: 80px;
  padding-bottom: 48px;
}

.container .officialpartner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}

.container .officialpartner__list__item {
  height: 270px;
  width: 270px;
}
